<!DOCTYPE html>
<html>
<head>
  <title>Wisdom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <div class="col-xs-3">

      <div class="circle">
        <br />
        Forgotten
        <br />
        Interesting
        <br />
        Words
      </div>

    </div>
    <div class="col-xs-4 slogan">
      Life-changing quotes from Myanmar Tales.
    </div>

    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </header>

  <hr />
<br class="clear" />

<div class="container">

  <%= yield %>

</div>

<div class="footer">
    <div class="container">
      <div class="col-xs-6">
        <%= link_to "Oh, I need more!", "#", :class=> 'next-quote' %>
      </div>
      <div class="col-xs-6 footer-blurb">
        Humbly hacked in Yangon, by <a href="https://www.facebook.com/thethtut.oo">Thet  &amp; May</a><br />
        Want to help me build your own app? - <a href="https://www.facebook.com/thethtut.oo">Find me here</a>
      </div>
    </div>
</div>
</body>
</html>
